# OS
.DS_Store

# python
__pycache__/
*.pyc

# virtual environments
.venv/
m3env/
venv/

# jupyter notebooks
.ipynb_checkpoints/

# data 
data/*
!data/.gitkeep

# outputs and plots
outputs/
figures/

# latex report temp files
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz

# VSCode
.vscode/